@use "/styles/variables" as *;

.input_container {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 2px solid $border-color;
  border-radius: 5px;
  height: 50px;
  transition: 0.2s;

  &.invalid {
    border: 2px solid $error-color;
  }

  input {
    background-color: transparent;
    padding: 0 5px;
    font-size: 1.05rem;
    height: 100%;
    flex-grow: 1;
  }
}

.input_error {
  border-radius: 5px;
  padding: 3px;
  overflow: wrap;
  max-width: 304px;
  color: $error-color;
  font-size: 0.8rem;
}
