@use "../variables" as *;

.filter_block {
  width: 250px;
  height: fit-content;
  background-color: $secondary-color;
  border-radius: 6px;
  flex-shrink: 0;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  hr {
    border: 1px solid $border-color;
  }

  h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }

  p,
  label {
    font-size: 1.05rem;
  }
}

.currency_block {
  background-color: $clickable-color;
  padding: 10px 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;

  &:first-of-type {
    margin-bottom: 5px;
  }

  input {
    background-color: $clickable-hover-color;
    border: 1px solid $border-color;
    border-radius: 3px;
    width: 100%;
    max-width: 160px;
    padding: 5px;

    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.categories_block {
  .input_container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    .radio_input {
      appearance: none;
      background-color: $border-color;
      font: inherit;
      width: 18px;
      height: 18px;
      border: 2.5px solid $clickable-hover-color;
      border-radius: 50%;
      margin-right: 5px;

      &[data-active="true"] {
        background-color: $text-color;
        border-width: 4px;
      }
    }
    .input_label {
      &::first-letter {
        text-transform: capitalize;
      }
    }
  }
}
