@use "../variables" as *;

.search_wrapper {
  @include global_wrapper;

  .count_header {
    font-size: 2rem;
    display: inline-block;
  }
}

.content_container {
  display: grid;
  grid-template-columns: minmax(160px, 250px) 1fr;
  gap: 16px;
}
