@use "../variables" as *;

.search_wrapper {
  max-width: 1230px;
  width: 100%;

  margin: 0 auto;
  padding: 0 15px;

  .count_header {
    // line-height: 4rem;
    font-size: 2rem;
    display: inline-block;
  }
}

.content_container {
  display: flex;
  gap: 16px;
}

.top_box {
  display: flex;
  align-items: center;
  height: 64px;
  justify-content: space-between;

  .queries_container {
    // align-self: ;
    display: flex;
    gap: 16px;
    margin-left: 20px;

    .query {
      border: 3px solid $border-color;
      padding: 5px 10px;
      border-radius: 20px;
      cursor: pointer;

      &:hover {
        border-color: $clickable-color;
      }

      p {
        display: inline-block;
      }

      span {
        color: $error-color;
      }
    }
  }
}
