@use "../variables" as *;

.search_wrapper {
  max-width: 1230px;
  width: 100%;

  margin: 0 auto;
  padding: 0 15px;

  .count_header {
    font-size: 2rem;
    display: inline-block;
  }
}

.content_container {
  display: grid;
  grid-template-columns: minmax(auto, 250px) 1fr;
  gap: 16px;
}
