$navbar-main: var(--navbar-main);
$navbar-secondary: var(--navbar-secondary);
$base-color: var(--base-color);
$text-color: var(--text-color);
$secondary-color: var(--secondary-color);
$third-color: var(--third-color);
$border-color: var(--border-color);
$clickable-color: var(--clickable-color);
$clickable-hover-color: var(--clickable-hover-color);
$accent-color: var(--accent-color);
$accent-hover-color: var(--accent-hover-color);
$accent-color-disabled: var(--accent-color-disabled);
$small-things-color: var(--small-things-color);
$error-color: var(--error-color);
$success-color: var(--success-color);
