@use "../variables" as *;

.landing_pageWrapper {
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
  padding: $wrapper-padding;

  .landing_h1 {
    text-align: center;
    padding: 40px 0 24px 0;
  }
}
