.item_wrapper_grid {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 10px;
  margin-top: 16px;

  @media all and (max-width: 1300px) {
    grid-template-columns: repeat(3, 250px);
  }

  @media all and (max-width: 1000px) {
    grid-template-columns: repeat(2, minmax(100px, 250px));
    padding: 0 5px;
    gap: 5px;
  }
}

.item_wrapper_wide {
  display: flex;
  flex-direction: column;
  width: 1030px;
  gap: 16px;
  margin-top: 16px;

  @media all and (max-width: 1250px) {
    width: 800px;
  }

  @media all and (max-width: 1000px) {
    width: 600px;
  }

  @media all and (max-width: 750px) {
    width: auto;
  }
}
