@use "../variables" as *;

.item {
  border: 2px solid $border-color;
  background-color: $secondary-color;
  width: 250px;
  min-height: 380px;
  padding: 15px;
  border-radius: 6px;
  color: $text-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word;
  cursor: pointer;
  transition: 0.2s;
  position: relative;

  &:hover {
    transform: scale(1.01);
  }

  @media (pointer: none), (pointer: coarse) {
    &:hover {
      transform: none;
    }
  }

  @media all and (max-width: 530px) {
    width: auto;
  }
}

.image_name {
  .name {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .image {
    border-radius: 2px;
  }
}

.item_info {
  display: flex;
  flex-direction: column;
  gap: 3px;

  b {
    font-size: 1.05rem;
  }
}

.item_wide {
  width: 100%;
  margin-bottom: 20px;
  min-height: 230px;
  max-height: 230px;
  display: grid;
  grid-template-columns: 216px calc(100% - 231px);
  column-gap: 15px;
  justify-content: flex-start;
  overflow-wrap: break-word;

  .full_item_info {
    b {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
}
