@use "../variables" as *;

$skeleton_border_radius: 2px;

@mixin skeleton_bc {
  animation: skeleton_loading 2s linear infinite alternate;
  opacity: 0.7;
}

.item {
  border: 2px solid $border-color;
  background-color: $secondary-color;
  width: 250px;
  min-height: 380px;
  padding: 15px;
  border-radius: 6px;
  color: $text-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word;
  cursor: pointer;
  transition: 0.2s;
  position: relative;

  &:hover {
    transform: scale(1.01);
  }
}

.image_name {
  .name {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .image {
    border-radius: $skeleton_border_radius;
  }

  .image_skeleton {
    width: 216px;
    height: 250px;
    margin-bottom: 10px;
    border-radius: $skeleton_border_radius;
    @include skeleton_bc;
  }

  .skeleton_text {
    width: 100%;
    height: 1.2rem;
    margin-bottom: 5px;
    border-radius: $skeleton_border_radius;
    @include skeleton_bc;

    &:nth-child(3) {
      width: 75%;
      margin-bottom: 16px;
    }
  }
}

.item_info {
  display: flex;
  flex-direction: column;
  gap: 3px;

  b {
    font-size: 1.05rem;
  }

  .skeleton_text2 {
    width: 86%;
    height: 0.9rem;
    border-radius: $skeleton_border_radius;
    @include skeleton_bc;

    &:nth-child(2) {
      width: 40%;
    }
  }
}

.item_wide {
  width: 100%;
  margin-bottom: 20px;
  min-height: 230px;
  max-height: 230px;

  display: grid;
  grid-template-columns: 216px calc(100% - 231px);
  column-gap: 15px;
  justify-content: flex-start;
  overflow-wrap: break-word;

  .full_item_info {
    b {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
}

@keyframes skeleton_loading {
  0% {
    background-color: rgba(var(--color-modal), 0.2);
  }
  100% {
    background-color: rgba(var(--color-modal), 0.3);
  }
}
