@use "../variables" as *;

.like_icon_container {
  height: 26px;
  width: 26px;
  position: relative;
  cursor: pointer;

  &:hover {
    &:before {
      display: block;
    }
  }

  .like_icon {
    width: 26px;
    stroke: $small-things-color;
    @include no_copy;

    &:hover {
      fill: $text-color;
    }

    @media (pointer: none), (pointer: coarse) {
      &:hover {
        fill: none;
      }
    }
  }

  &:before {
    content: "Add to favorites";
    position: absolute;
    bottom: 30px;
    right: 0;
    white-space: nowrap;
    display: none;
    background-color: $accent-color;
    color: #eeeeee;
    border-radius: 4px;
    padding: 8px;
  }

  &[data-isfavorite="true"] {
    &:before {
      content: "Remove from favorites";
    }

    .like_icon {
      fill: $small-things-color;
    }
  }

  @media (pointer: none), (pointer: coarse) {
    &:hover {
      &:before {
        display: none;
      }
    }
  }
}
