@use "../variables" as *;
@use "../variables/skeletonAnimation.scss" as *;

$skeleton_border_radius: 2px;

.item {
  border: 2px solid $border-color;
  background-color: $secondary-color;
  padding: 15px;
  border-radius: 6px;
  cursor: pointer;

  .image_skeleton {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
    border-radius: $skeleton_border_radius;
    @include skeleton_bc;
  }

  .item_info {
    display: flex;
    flex-direction: column;
    gap: 3px;

    .skeleton_text {
      width: 100%;
      height: 19px;
      margin-bottom: 5px;
      border-radius: $skeleton_border_radius;
      @include skeleton_bc;

      &:nth-child(3) {
        width: 75%;
        margin-bottom: 16px;
      }
    }

    .skeleton_text2 {
      width: 86%;
      height: 0.9rem;
      border-radius: $skeleton_border_radius;
      @include skeleton_bc;

      &:nth-child(2) {
        width: 40%;
      }
    }
  }
}

.item_wide {
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 15px;
  padding: 15px;
  background-color: $secondary-color;
  border-radius: 6px;

  .image_skeleton {
    width: 260px;
    height: 200px;
    border-radius: $skeleton_border_radius;
    @include skeleton_bc;
  }

  .skeleton_text {
    width: 90%;
    min-width: 250px;
    height: 1.8rem;
    border-radius: $skeleton_border_radius;
    @include skeleton_bc;
    margin-bottom: 6px;

    &:nth-child(2) {
      width: 20%;
      min-width: 130px;
      height: 1rem;
    }
  }
}
