.deletion_window_wrapper {
  padding: 30px 40px;
  text-align: center;
  word-wrap: break-word;

  p {
    margin-top: 10px;
  }

  .buttons_container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
  }

  @media all and (max-width: 500px) {
    padding: 10px 0;
  }
}
