@use "/styles/variables" as *;

.item_wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1200px;
  width: 100%;
  gap: 20px;
  row-gap: 60px;
  margin: 50px auto;

  .item_info {
    grid-column: span 8;
    display: grid;
    gap: 20px;
    // width: 400px;
  }

  .additional_info {
    grid-column: span 4;
  }

  .user_items_block {
    grid-column: span 12;
  }

  @media all and (max-width: 1200px) {
    .item_info,
    .additional_info {
      grid-column: span 12;
    }
  }
}
