@use "/styles/variables" as *;
@use "/styles/variables/itemPageBlockMixin.scss" as *;

.user_items_top_flex {
  @include info_block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  @media all and (max-width: 800px) {
    flex-direction: column;
    align-items: flex-start;

    a {
      margin-top: 10px;
    }
  }

  a {
    position: relative;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.2rem;
    width: fit-content;

    &:hover {
      &::after {
        background-color: $text-color;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $border-color;
      top: calc(100% + 5px);
      left: 0;
      right: 0;
      transition: 0.3s;
    }
  }
}
