@use "/styles/variables" as *;

@mixin flex_display {
  display: flex;
  align-items: center;
}

@mixin flex_container_evenly {
  flex-grow: 1;
  justify-content: space-evenly;
}

$background-transition: background-color 0.2s;

.navbar {
  @include flex_display;
  height: 70px;
  background-color: $navbar-main;
  color: $text-color;
  font-weight: 600;
  border-bottom: 1px solid $border-color;
  position: sticky;
  top: 0;
  z-index: 1;
  > * {
    // selecting all direct children of .navbar
    @include flex_display;
    @include flex_container_evenly;
  }

  @media all and (max-width: 800px) {
    .icon,
    .logo_name,
    .icon_text,
    .change_theme_container {
      display: none;
    }

    .middle_container {
      button {
        display: none;
      }
    }

    .burger {
      display: block;
    }
  }
}

.logo_container {
  @include flex_display;
  cursor: pointer;
  gap: 8px;
  font-size: 1.4rem;
}

.logo_icon {
  width: 50px;
  height: 50px;
}

.icon_text {
  @include flex_display;
  background-color: $clickable-color;
  border-radius: 8px;
  padding: 0 14px;
  height: 46px;
  gap: 5px;
  cursor: pointer;
  transition: $background-transition;

  &:hover {
    background-color: $clickable-hover-color;
  }
}

.middle_container {
  border-radius: 6px;
  overflow: hidden;
  flex-grow: 4;
  height: 44px;

  .find_icon_container {
    height: 100%;
    padding-left: 6px;
    background-color: $navbar-secondary;
  }

  .find_icon {
    color: $third-color;
    width: 30px;
    height: 100%;
  }

  input {
    padding: 0 6px;
    width: 100%;
    background-color: $navbar-secondary;
    height: 100%;
    font-size: 1.07rem;
  }

  button {
    padding: 0 20px;
    height: 100%;
    background-color: $clickable-color;
    color: $text-color;
    font-size: 0.9rem;
    transition: $background-transition;

    &:hover {
      background-color: $clickable-hover-color;
    }
  }
}

.icon {
  width: 36px;
  height: 36px;
  color: $text-color;
  cursor: pointer;
}

.change_theme_container {
  @include flex_display;
  position: relative;
  background-color: $clickable-color;
  overflow: hidden;
  cursor: pointer;
  width: 72px;
  height: 36px;
  border-radius: 36px;
  transition: $background-transition;

  &:hover {
    background-color: $clickable-hover-color;
  }
}

.theme_bubble {
  background-color: $text-color;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: absolute;
  transition: all 0.2s ease-in-out;
}

.icon_container {
  width: 36px;
  height: 36px;
  @include flex_display;
  justify-content: center;
}

.day_icon {
  width: 28px;
  height: 28px;
  transition: all 0.2s ease-in-out;
  transform: translateX(0);
}

.night_icon {
  width: 26px;
  height: 26px;
  transition: all 0.2s ease-in-out;
  transform: translateX(-100%);
}

.change_theme_container[data-theme="dark"] {
  .day_icon {
    transform: translateX(100%);
  }

  .night_icon {
    transform: translateX(0);
  }

  .theme_bubble {
    transform: translateX(100%);
  }
}

.burger {
  display: none;
  width: 34px;
  height: 3px;
  background-color: $text-color;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: inherit;
  }

  &::before {
    bottom: 8px;
  }

  &::after {
    top: 8px;
  }
}
