@import "/styles/named_variables.scss";

@mixin flex_display {
  display: flex;
  align-items: center;
}

@mixin flex_container_evenly {
  flex-grow: 1;
  justify-content: space-evenly;
  height: 100%;
}

.navbar {
  @include flex_display;
  height: 70px;
  background-color: $base-color;
  color: $secondary-color;
  font-weight: 600;
  > * {
    // selecting all direct children of .navbar
    @include flex_display;
    @include flex_container_evenly;
  }

  @media only screen and (max-width: 800px) {
    .icon {
      display: none;
    }

    .logo_name {
      display: none;
    }

    .left_container {
      .catalogue_container {
        display: none;
      }
    }

    .middle_container {
      .search_button {
        display: none;
      }
    }

    .right_container {
      .change_theme_container {
        display: none;
      }
    }

    .burger {
      display: block;
    }
  }
}

.left_container {
  .logo_container {
    @include flex_display;
    cursor: pointer;
    gap: 8px;
    font-size: 1.4rem;
  }

  .catalogue_container {
    @include flex_display;
    background-color: rgba($secondary-color, 0.25);
    border-radius: 8px;
    padding: 0px 14px;
    cursor: pointer;
  }
}

.middle_container {
  border-radius: 5px;
  // overflow: hidden;

  flex-grow: 4;
  height: 44px;
  background-color: $secondary-color;

  .find_icon {
    color: $base_color;
    margin: 0 5px;
    width: 30px;
    height: 30px;
  }

  .searchfield {
    width: 100%;
    border: none;
    background-color: inherit;
    height: 100%;

    &:focus {
      outline: none;
    }
  }

  button {
    padding: 0 18px;
    height: 100%;
    border: none;
    background-color: rgba($base-color, 0.9);
    font-weight: 500;
    font-size: 0.9rem;
    color: white;
  }
}

.right_container {
  .change_theme_container {
    @include flex_display;
    background-color: rgba($secondary-color, 0.25);
    border-radius: 36px;
  }
}

.icon {
  width: 36px;
  height: 36px;
  color: $secondary-color;
  cursor: pointer;
}

.burger {
  display: none;
  width: 34px;
  height: 3px;
  background-color: $secondary-color;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: inherit;
  }

  &::before {
    bottom: 8px;
  }

  &::after {
    top: 8px;
  }
}
