@use "./variables" as *;

.custom_button {
  border-radius: 5px;
  font-size: 1.1rem;
  transition: background-color 0.2s;
  color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;

  &:disabled {
    cursor: not-allowed;
    background-color: $accent-color-disabled;
  }
}

.custom_button[data-button_type="blue"] {
  background-color: $accent-color;

  &:hover {
    background-color: $accent-hover-color;
  }

  &:disabled {
    background-color: $accent-color-disabled;
  }
}

.custom_button[data-button_type="grey"] {
  background-color: $clickable-color;
  border: 2px solid $border-color;

  &:hover {
    background-color: $clickable-hover-color;
  }

  &:disabled {
    background-color: $clickable-color-disabled;
  }
}

.custom_button[data-button_type="outline"] {
  background-color: transparent;
  border: 2px solid $border-color;
  border-radius: 4px;
  color: $text-color;

  &:hover {
    border-width: 4px;
  }

  &:disabled {
    &:hover {
      border-width: 2px;
    }
  }
}
