@use "./variables" as *;

$texts_padding: 12px 16px;
$border-radius: 4px;

.dropdown_container {
  position: relative;
  display: flex;
  @include no_copy;

  .dropdown_button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: $clickable-color;
    padding: $texts_padding;
    width: 100%;
    border-radius: $border-radius;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.05rem;
    transition: 0.2s;

    &:hover {
      background-color: $clickable-hover-color;
    }

    p {
      pointer-events: none;
    }

    p::first-letter {
      text-transform: capitalize;
    }

    .arrow {
      min-width: 26px;
      width: 26px;
      pointer-events: none;
    }

    .close_arrow {
      transform: rotate(-180deg);
    }

    .arrow_open {
      transform: rotate(180deg);
    }
  }

  .options_container {
    width: 100%;
    position: absolute;
    top: 120%;
    border-radius: $border-radius;
    z-index: 1;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 1px 10px 1px $border-color;

    .option {
      @include no_copy;
      padding: $texts_padding;
      cursor: pointer;
      background-color: $clickable-color;
      white-space: normal;

      transition: 0.2s;

      &:hover {
        background-color: $clickable-hover-color;
      }

      &::first-letter {
        text-transform: capitalize;
      }
    }
  }
}
