@use "/styles/variables" as *;
$background-transition: background-color 0.2s;

.test {
  transition: $background-transition;
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
  // text-align: center;
  cursor: pointer;

  &:hover {
    background-color: $clickable-hover-color;
  }
}
