// @use "/styles/variables/colors.scss" as *;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--base-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p {
  margin: 0;
}

input {
  padding: 0;
  border: 0;
  margin: 0;

  &:focus {
    outline: none;
  }
}

button {
  padding: 0;
  border: 0;
}

a {
  cursor: pointer;
}

body[data-theme="light"] {
  --navbar-main: #f9f9f9;
  --navbar-secondary: #eeeeee;
  --base-color: #e7e7e7;
  --secondary-color: #c6c7c9;
  --third-color: #121212;
  --clickable-color: #d1d1d3;
  --clickable-hover-color: #bcbcbf;
  --text-color: #121212;
  --border-color: #c5c4c4;
}

body[data-theme="dark"] {
  --navbar-main: #121212;
  --navbar-secondary: #eeeeee;
  --base-color: #201e22;
  --secondary-color: #393e46;
  --third-color: #121212;
  --clickable-color: #393e46;
  --clickable-hover-color: #4a5059;
  --text-color: #eeeeee;
  --border-color: #2a2828;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
