html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--base-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p {
  margin: 0;
}

input,
textarea {
  padding: 0;
  border: 0;
  margin: 0;
  color: var(--text-color);

  &:focus {
    outline: none;
  }
}

button {
  padding: 0;
  border: 0;
  color: var(--text-color);
  cursor: pointer;
}

a {
  cursor: pointer;
}

body[data-theme="light"] {
  --navbar-main: #f9f9f9;
  --navbar-secondary: #eeeeee;
  --base-color: #e7e7e7;
  --secondary-color: #dadada;
  --third-color: #121212;
  --clickable-color: #d1d1d3;
  --clickable-hover-color: #bcbcbf;
  --text-color: #121212;
  --color-modal: 18, 18, 18;
  --border-color: #c5c4c4;
  --accent-color: #2c78c8;
  --accent-hover-color: #1c65db;
  --accent-color-disabled: #92abc6;
  --error-color: #ff0001;
  --success-color: #2e9939;
  --scrollbar-track-background-color: #f1f1f1;
  --scrollbar-thumb-background-color: silver;
  --scrollbar-thumb-hover-background-color: #a7a7a7;
}

body[data-theme="dark"] {
  --navbar-main: #121212;
  --navbar-secondary: #eeeeee;
  --base-color: #201e22;
  --secondary-color: #2c2f34;
  --third-color: #121212;
  --clickable-color: #393e46;
  --clickable-hover-color: #4a5059;
  --text-color: #eeeeee;
  --color-modal: 238, 238, 238;
  --border-color: #2a2828;
  --accent-color: #2c78c8;
  --accent-hover-color: #1c65db;
  --accent-color-disabled: #92abc6;
  --error-color: #f43c3d;
  --success-color: #2e9939;
  --scrollbar-track-background-color: #444;
  --scrollbar-thumb-background-color: #686868;
  --scrollbar-thumb-hover-background-color: #7a7a7a;
}

::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-track-background-color);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-background-color);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-background-color);
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-text-fill-color: var(--text-color);
  -webkit-box-shadow: inset 0 0 0 32px var(--base-color);
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
