@use "./variables" as *;

.loader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid rgba(229, 229, 229, 0.3);
  border-left-color: $accent-color;
  animation: loader 1.3s cubic-bezier(0.15, 0.29, 0.72, 0.89) infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
